{% extends "base.html.j2" %}
{% set title %}{{ config.STORE_NAME }} - Page Not Found (404){% endset %}
{% set page = '404' %}

{% block content %}

  <section class="masthead page-section bg-primary text-white mb-0" id="about">
      <div class="container">
          <h2 class="page-section-heading text-center text-uppercase text-white">404 Not Found</h2>
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-paw"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <div class="row">
              <div class="col-12 text-center">
                Sorry, couldn't find what you were looking for.
              </div>
          </div>

      </div>
  </section>

{% endblock %}
