{% extends "base.html.j2" %}
{% set title %}About {{ config.STORE_NAME }}{% endset %}
{% set page = 'about' %}
{% block content %}

  <section class="masthead page-section bg-primary text-white mb-0" id="about">
      <div class="container">
          <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-paw"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <img src="/assets/images/binx.jpg" alt="A puppy" />
            </div>
          </div>
          <div class="row mt-4">
              <div class="col-lg-4 ms-auto">
                  <p class="lead">
                    This is a demo site that illustrates a webpack-bootstrap-flask tech stack <i>and</i> helps you <a class="text-white" href="/puppies">Find a puppy</a>!
                    There is no front-end framework (React, Vue) used, though you could add one easily.  Instead, I created it to illustrate how
                    to architect, develop and code-split front-end code (using webpack and bootrap) for a "traditional" server-side-rendered website (using flask).
                  </p>
              </div>
              <div class="col-lg-4 me-auto">
                <p class="lead">
                  For more information, see the <a class="text-white" href="https://github.com/tarponjargon/webpack-bootstrap-flask">repo on GitHub</a>.
                  For portability I did not use a database.  The data source for the site is the server-to-server
                  <a class="text-white" href="https://www.petfinder.com/developers/v2/docs/">PetFinder API</a>, so it does load a tad slower because
                  every request spawns a subsequent http request to PetFinder from the flask instance.

                </p>
              </div>
          </div>
          <div class="text-center mt-4">
              <a class="btn btn-xl btn-outline-light" href="https://github.com/tarponjargon/webpack-bootstrap-flask">
                  View on GitHub
                  <i class="fas fa-arrow-right me-2"></i>
              </a>
          </div>
      </div>
  </section>

{% endblock %}
