{% extends "base.html.j2" %}
{% set title %}About {{ config.STORE_NAME }}{% endset %}
{% set page = 'about' %}
{% block content %}

  <section class="masthead page-section bg-primary text-white mb-0" id="about">
      <div class="container">
          <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-paw"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <img src="/assets/images/binx.jpg" alt="A puppy" />
            </div>
          </div>
          <div class="row mt-4">
              <div class="col-lg-4 ms-auto"><p class="lead">This is a demo site illustrates a webpack-bootstrap-flask tech stack.  It uses the PetFinder server-to-server API as its data source. Notably, this does not use a client-side framework like</p></div>
              <div class="col-lg-4 me-auto"><p class="lead">Vue or React, just vanilla JS.  It could relatively easily, but I created it to demonstrate how to use webpack with a "traditional" server-side-rendered website.</p></div>
          </div>
          <div class="text-center mt-4">
              <a class="btn btn-xl btn-outline-light" href="/puppies">
                  View Puppies
                  <i class="fas fa-arrow-right me-2"></i>
              </a>
          </div>
      </div>
  </section>

{% endblock %}
