{% extends "base.html.j2" %}
{% set title %}Contact {{ config.STORE_NAME }}{% endset %}
{% set page = 'contact' %}

{% block content %}

  <section class="masthead page-section" id="contact">
      <div class="container">
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact</h2>
          <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-paw"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-8 col-xl-7">

                  <!--success message-->
                  <div class="d-none" data-js="message" id="submit-success-message">
                      <div class="text-center card bg-success text-white p-4 mb-3">
                          <div class="card-body">Thanks for contacting us!  We will get back to you shortly.</div>
                      </div>
                  </div>

                  <form id="contact-form">
                      <div class="form-floating mb-3">
                          <input
                            class="form-control"
                            id="name"
                            name="name"
                            type="text"
                            placeholder="Enter your name..."
                            required
                          />
                          <label for="name">Your name</label>
                      </div>

                      <div class="form-floating mb-3">
                          <input
                            class="form-control"
                            id="email"
                            name="email"
                            type="email"
                            placeholder="name@example.com"
                            required
                          />
                          <label for="email">Email address</label>
                      </div>

                      <div class="form-floating mb-3">
                          <input
                            class="form-control"
                            id="phone"
                            name="phone"
                            type="tel"
                            placeholder="(123) 456-7890"
                            required
                          />
                          <label for="phone">Phone number</label>
                      </div>

                      <div class="form-floating mb-3">
                          <textarea
                            class="form-control"
                            id="message"
                            name="message"
                            type="text"
                            placeholder="Enter your message here..."
                            style="height: 10rem"
                            required
                          ></textarea>
                          <label for="message">Message</label>
                      </div>

                      <!-- error message-->
                      <div class="d-none" data-js="message" id="submit-error-message">
                        <div class="text-center card bg-danger text-white p-3 mb-3">
                          <div class="card-body" data-js="error-message"></div>
                        </div>
                      </div>

                      <button class="btn btn-primary btn-xl" type="submit">Send</button>
                  </form>
              </div>
          </div>
      </div>
  </section>

{% endblock %}
