{% extends "base.html.j2" %}
{% from 'macros/masthead.html.j2' import render_masthead %}
{% set title %}Welcome to {{ config.STORE_NAME }}{% endset %}
{% set page = 'home' %}

{% set home_schema %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ config.STORE_URL }}/",
}
</script>
{% endset %}

{% block content %}

  <header class="masthead bg-primary text-white text-center">
      <div class="container">

          <div class="glider-contain text-center mb-5">
            <div class="splide" data-js="homepage-carousel">
              <div class="splide__track">
                <ul class="splide__list">
                  {% for puppy in features %}
                    <li class="splide__slide">
                      <a href="/puppy/{{puppy.id}}">
                        <div class="splide__slide__container glider-circle">
                          <img src="{{puppy.primary_photo_cropped.medium}}" class="glider-slide-image" alt="{{puppy.name}}">
                        </div>
                        <span class="puppy-badge badge rounded-pill bg-danger">
                          {{ puppy.name | truncate(22, False, '...', 0) }}
                        </span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          {{ render_masthead(config.STORE_NAME, 'text-white')}}
      </div>
  </header>

  <section class="page-section portfolio">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Yet More Puppies</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-paw"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
          {% for puppy in subfeatures %}
            <div class="col-md-6 col-lg-4 mb-5">
                <a class="portfolio-item mx-auto" data-puppy-modal="{{puppy.id}}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                          <i class="fas fa-plus fa-3x"></i>
                          <div class="w-100">{{ puppy.name }}</div>
                        </div>
                    </div>
                    <img class="portfolio-image" src="{{puppy.primary_photo_cropped.medium}}" alt="{{ puppy.name }}" />
                </a>
            </div>
          {% endfor %}
        </div>
    </div>
  </section>

{% endblock %}
