{% extends "base.html.j2" %}
{% from 'macros/masthead.html.j2' import render_masthead %}
{% from 'macros/paging.html.j2' import render_paging %}
{% from 'macros/breeds_select.html.j2' import render_breeds %}
{% from 'macros/states_select.html.j2' import render_states %}
{% from 'macros/dog_size_select.html.j2' import render_dog_size %}
{% from 'macros/favorite_button.html.j2' import render_favorite %}
{% from 'macros/resetfilter.html.j2' import reset_filter with context %}
{% set title %}Puppies @ {{ config.STORE_NAME }}{% endset %}
{% set page = 'puppies' %}
{% block content %}

<section class="masthead page-section bg-white mb-0" id="{{ page }}">
    <div class="container">
        {{ render_masthead("GET PUPPIES")}}

        <!-- filters and prev/next -->
        <div class="row">
          <div class="col-12 col-lg-3 mb-2 mb-lg-4 d-flex justify-content-start align-items-center">
            <select
              class="form-select w-auto flex-grow-1"
              name="location"
              data-js="param-change"
            >
              <option value="">Select State</option>
              {{ render_states(params.location) }}
            </select>
            {% if params.location %}
              {{ reset_filter('location')}}
            {% endif %}
          </div>
          <div class="col-12 col-lg-3 mb-2 mb-lg-4 d-flex justify-content-start align-items-center">
            <select
              class="form-select"
              name="breed"
              data-js="param-change"
            >
              <option value="">Select Breed</option>
              {{ render_breeds(params.breed) }}
            </select>
            {% if params.breed %}
              {{ reset_filter('breed')}}
            {% endif %}
          </div>
          <div class="col-12 col-lg-3 mb-2 mb-lg-4 d-flex justify-content-start align-items-center">
            <select
              class="form-select w-auto flex-grow-1"
              name="size"
              data-js="param-change"
            >
              <option value="">Select Size</option>
              {{ render_dog_size(params.size) }}
            </select>
            {% if params.size %}
              {{ reset_filter('size')}}
            {% endif %}
          </div>
          <div class="col-12 col-lg-3 mb-2 mb-lg-4 d-flex align-items-center justify-content-between justify-content-lg-end">
            {{ render_paging(prev_url, next_url) }}
          </div>
        </div>
        <!-- /filters and prev/next -->

        <!-- results -->
        <div class="row">
          {% if puppies | length == 0 %}
            <h2>No puppies found! <i class="fas fa-sad-tear fw-normal"></i></h2>
            <p>
              <a href="{{ url_for(request.endpoint) }}">Remove all filters</a> to see more puppies.
            </p>
          {% endif %}

          {% for puppy in puppies %}

            {% set thumb = config.DEFAULT_IMAGE %}
            {% if puppy.primary_photo_cropped and puppy.primary_photo_cropped.medium %}
              {% set thumb = puppy.primary_photo_cropped.medium %}
            {% endif %}

            <div class="col-12 col-md-6 col-lg-4 col-xl-3 text-center pb-5">
              <div class="card-box h-100 position-relative">
                {{ render_favorite(puppy.id) }}
                <div class="card-thumb-container">
                  <div class="card-thumbnail">
                    <a href="/puppy/{{ puppy.id }}"><img src="{{ thumb }}" class="custom-img-fluid" alt="{{ puppy.name }}" /></a>
                  </div>
                </div>
                <div class="card-foot">
                  <div class="card-title">
                    <h2>
                      <a href="/puppy/{{puppy.id}}">
                        {{ puppy.name }} -
                        {{puppy.contact.address.city}},
                        {{puppy.contact.address.state}}
                      </a>
                    </h2>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}
        </div>
        <!-- /results -->

        <!-- lower pagination-->
        <div class="row">
          <div class="col-12 col-lg-9">&nbsp;</div>
          <div class="col-12 col-lg-3 d-flex align-items-center justify-content-between justify-content-lg-end">
            {{ render_paging(prev_url, next_url) }}
          </div>
        </div>
    </div>
</section>

{% endblock %}
