{% extends "base.html.j2" %}
{% from 'macros/masthead.html.j2' import render_masthead %}
{% set title %}{{ puppy.name}} - {{ puppy.breeds.primary }} @ {{ config.STORE_NAME }}{% endset %}
{% set page = 'puppy' %}
{% block content %}

<section class="masthead page-section bg-white mb-0" id="{{ page }}">
  <div class="container">
    {{ render_masthead(puppy.name)}}
    <div class="row mt-5">
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
        {% set image = config.DEFAULT_IMAGE %}
        {% if puppy.primary_photo_cropped and puppy.primary_photo_cropped.full %}
          {% set image = puppy.primary_photo_cropped.full %}
        {% endif %}

        <img src="{{ image }}" class="img-fluid" alt="{{ puppy.name }}" />
      </div>
      <div class="col-12 col-md-6 mt-5 mt-md-0">
        <h2 class="pb-3 mb-3 border-bottom">
          {{ puppy.breeds.primary }}
          &middot;
          {{ puppy.contact.address.city }}, {{ puppy.contact.address.state }}
        </h2>
        <div class="d-block w-100">
          <p class="lead pb-3 mb-3 border-bottom">
            {{ puppy.age }} &middot;
            {{ puppy.gender }} &middot;
            {{ puppy.size }}
          </p>
        </div>

        <div class="d-block w-100 mt-4">
          <h3>About {{puppy.name}}</h3>
          <p>{{ puppy.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
