{% macro render_states(selected_value) -%}
  <option value="AL" {{ 'selected' if selected_value == 'AL' }}>Alabama</option>
  <option value="AK" {{ 'selected' if selected_value == 'AK' }}>Alaska</option>
  <option value="AZ" {{ 'selected' if selected_value == 'AZ' }}>Arizona</option>
  <option value="AR" {{ 'selected' if selected_value == 'AR' }}>Arkansas</option>
  <option value="CA" {{ 'selected' if selected_value == 'CA' }}>California</option>
  <option value="CO" {{ 'selected' if selected_value == 'CO' }}>Colorado</option>
  <option value="CT" {{ 'selected' if selected_value == 'CT' }}>Connecticut</option>
  <option value="DE" {{ 'selected' if selected_value == 'DE' }}>Delaware</option>
  <option value="DC" {{ 'selected' if selected_value == 'DC' }}>District Of Columbia</option>
  <option value="FL" {{ 'selected' if selected_value == 'FL' }}>Florida</option>
  <option value="GA" {{ 'selected' if selected_value == 'GA' }}>Georgia</option>
  <option value="HI" {{ 'selected' if selected_value == 'HI' }}>Hawaii</option>
  <option value="ID" {{ 'selected' if selected_value == 'ID' }}>Idaho</option>
  <option value="IL" {{ 'selected' if selected_value == 'IL' }}>Illinois</option>
  <option value="IN" {{ 'selected' if selected_value == 'IN' }}>Indiana</option>
  <option value="IA" {{ 'selected' if selected_value == 'IA' }}>Iowa</option>
  <option value="KS" {{ 'selected' if selected_value == 'KS' }}>Kansas</option>
  <option value="KY" {{ 'selected' if selected_value == 'KY' }}>Kentucky</option>
  <option value="LA" {{ 'selected' if selected_value == 'LA' }}>Louisiana</option>
  <option value="ME" {{ 'selected' if selected_value == 'ME' }}>Maine</option>
  <option value="MD" {{ 'selected' if selected_value == 'MD' }}>Maryland</option>
  <option value="MA" {{ 'selected' if selected_value == 'MA' }}>Massachusetts</option>
  <option value="MI" {{ 'selected' if selected_value == 'MI' }}>Michigan</option>
  <option value="MN" {{ 'selected' if selected_value == 'MN' }}>Minnesota</option>
  <option value="MS" {{ 'selected' if selected_value == 'MS' }}>Mississippi</option>
  <option value="MO" {{ 'selected' if selected_value == 'MO' }}>Missouri</option>
  <option value="MT" {{ 'selected' if selected_value == 'MT' }}>Montana</option>
  <option value="NE" {{ 'selected' if selected_value == 'NE' }}>Nebraska</option>
  <option value="NV" {{ 'selected' if selected_value == 'NV' }}>Nevada</option>
  <option value="NH" {{ 'selected' if selected_value == 'NH' }}>New Hampshire</option>
  <option value="NJ" {{ 'selected' if selected_value == 'NJ' }}>New Jersey</option>
  <option value="NM" {{ 'selected' if selected_value == 'NM' }}>New Mexico</option>
  <option value="NY" {{ 'selected' if selected_value == 'NY' }}>New York</option>
  <option value="NC" {{ 'selected' if selected_value == 'NC' }}>North Carolina</option>
  <option value="ND" {{ 'selected' if selected_value == 'ND' }}>North Dakota</option>
  <option value="OH" {{ 'selected' if selected_value == 'OH' }}>Ohio</option>
  <option value="OK" {{ 'selected' if selected_value == 'OK' }}>Oklahoma</option>
  <option value="OR" {{ 'selected' if selected_value == 'OR' }}>Oregon</option>
  <option value="PA" {{ 'selected' if selected_value == 'PA' }}>Pennsylvania</option>
  <option value="RI" {{ 'selected' if selected_value == 'RI' }}>Rhode Island</option>
  <option value="SC" {{ 'selected' if selected_value == 'SC' }}>South Carolina</option>
  <option value="SD" {{ 'selected' if selected_value == 'SD' }}>South Dakota</option>
  <option value="TN" {{ 'selected' if selected_value == 'TN' }}>Tennessee</option>
  <option value="TX" {{ 'selected' if selected_value == 'TX' }}>Texas</option>
  <option value="UT" {{ 'selected' if selected_value == 'UT' }}>Utah</option>
  <option value="VT" {{ 'selected' if selected_value == 'VT' }}>Vermont</option>
  <option value="VA" {{ 'selected' if selected_value == 'VA' }}>Virginia</option>
  <option value="WA" {{ 'selected' if selected_value == 'WA' }}>Washington</option>
  <option value="WV" {{ 'selected' if selected_value == 'WV' }}>West Virginia</option>
  <option value="WI" {{ 'selected' if selected_value == 'WI' }}>Wisconsin</option>
  <option value="WY" {{ 'selected' if selected_value == 'WY' }}>Wyoming</option>
{%- endmacro %}