virtualenv_python
node_modules
__pycache__
.DS_Store
*.log
logs
.envrc
flask_cache
package-lock.json
flask_app/assets
flask_app/templates/includes/assets.inc
cypress/screenshots
cypress/videos
.viminfo
.cache
.npm
.pki
.ssh
tmp