{% macro render_masthead(heading) -%}
<h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{ heading }}</h1>
<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-paw"></i></div>
    <div class="divider-custom-line"></div>
</div>
{%- endmacro %}